<style>
	.cartImg{
		width:150px;
		height:210px;
	}

</style>

<div ng-init="initCart()"></div>
<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">장바구니</li>
			</ol>
		</div><!--/breadcrums-->

		<div class="step-one">
			<h2 class="heading">Step1</h2>
		</div>


		<div class="review-payment">
			<div class="checkout-options">
				<h3>장바구니</h3>
				<p>Cart items</p>
			</div>
		</div>

		<div class="table-responsive cart_info">
			<table class="table table-condensed" align="center">
				<thead>
				<tr class="cart_menu">
					<td class="ckbox">
						<input type="checkbox"  ng-model="checkedAll" ng-change="checkAll(checkedAll)" id="all_check" name="all_check"/>
					</td> <!-- all_check-->
					<td class="image">Item</td>
					<td class="description"></td>
					<td class="price">Price</td>
					<td class="quantity">Quantity</td>
					<td class="total">Total</td>
					<td></td>
				</tr>
				</thead>
				<tbody>

				<tr ng-repeat="cart in cartList">
					<td class="ckbox">
						<input type="checkbox" ng-change="checkItem(cart,cart.selected)" ng-model="cart.selected"  />
					</td>
					<td class="cart_product">
						<a href="/main#/item/{{cart.id}}"><img class="cartImg"  src="{{cart.img}}" alt=""></a>
					</td>
					<td class="cart_description">
						<h4><a href="">{{cart.name}}</a></h4>
					</td>
					<td class="cart_price">
						<p>{{cart.price}}원</p>
					</td>
					<td class="cart_quantity">
						<div class="cart_quantity_button">
							<a class="cart_quantity_up" href="" ng-click="increase(cart)"> + </a>
							<input class="cart_quantity_input" type="text" ng-model="cart.quantity"
								   autocomplete="off" size="2">
							<a class="cart_quantity_down" href="" ng-click="decrease(cart)"> - </a>
						</div>
					</td>
					<td class="cart_total">
						<p class="cart_total_price">{{cart.total}}원</p>
					</td>
					<td class="cart_delete">
						<a class="cart_quantity_delete" ng-click="delCart(cart)"><i class="fa fa-times"></i></a>
					</td>
				</tr>

				<tr>
					<td colspan="4">&nbsp;</td>
					<td colspan="2">
						<table class="table table-condensed total-result">
							<tr>
								<td>총 상품금액</td>
								<td>{{sumPrice}}원</td>
							</tr>
							<tr>
								<td>할인금액</td>
								<td>0원</td>
							</tr>
							<tr class="shipping-cost">
								<td>배송비</td>
								<td>무료</td>
							</tr>
							<tr>
								<td>Total</td>
								<td><span>{{sumPrice}}</span></td>
							</tr>
						<!--	<tr>
								<td align="center"><a class="btn btn-default update" ng-click="checkout()">Check Out</a></td>
								<td></td>
							</tr>-->
						</table>
					</td>
				</tr>
				</tbody>
			</table>
		</div>





		<div class="step-one">
			<h2 class="heading">Step2</h2>
		</div>

		<div class="checkout-options">


			<h3>주문자정보</h3>
			<p>Checkout options</p>
		</div>
		<!--/checkout-options-->
		<hr>


		<!--/register-req-->

		<div class="shopper-informations">
			<div class="row">
				<div class="col-sm-3">
					<div class="shopper-info">
						<p>Shopper Information</p>
						<form>
							<input type="text" placeholder="Name" ng-model="member.mb_name">
							<input type="text" placeholder="Email" ng-model="member.mb_email">
						</form>
					</div>
				</div>

				<div class="col-sm-5 clearfix">
					<div class="bill-to">
						<p>Deliver To</p>
						<div class="form-one">
							<form>
								<input type="text" placeholder="Name">
								<input type="text" placeholder="Email*">
								<input type="text" placeholder="Phone *" required>
								<input type="text" placeholder="Message">
							</form>
						</div>
						<div class="form-two">
							<form>
								<select>
									<option>-- 도 --</option>
									<option>United States</option>
									<option>Bangladesh</option>
									<option>UK</option>
									<option>India</option>
									<option>Pakistan</option>
									<option>Ucrane</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
								<select>
									<option>-- 시군구 --</option>
									<option>United States</option>
									<option>Bangladesh</option>
									<option>UK</option>
									<option>India</option>
									<option>Pakistan</option>
									<option>Ucrane</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
								<input type="text" placeholder="Address 1 *">
								<input type="text" placeholder="Address 2">

							</form>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="bill-to">
						<p>결제 정보</p>
						<div class="form-three">
							<form>
								<select ng-model="check.payment" ng-init="check.payment='bank'">
									<option value="bank">계좌이체</option>
									<option value="credit">신용카드</option>
								</select>
							</form>
							<form ng-if="check.payment=='bank'">
								<select>
									<option>신한은행</option>
									<option>국민은행</option>
									<option>우리은행</option>
								</select>
								<input type="text" placeholder="계좌번호"/>
								<input type="text" placeholder="계좌주"/>
								<input type="password" placeholder="비밀번호"/>
							</form>

							<form ng-if="check.payment=='credit'">
								<select>
									<option>비씨</option>
									<option>신한</option>
									<option>우리</option>
								</select>
								<input type="text" placeholder="카드번호"/>
								<input type="text" placeholder="유효일자"/>
								<input type="text" placeholder="csv"/>
							</form>

							<input type="checkbox" ng-model="check.isAgree">전체 약관에 동의합니다<br>
							<a class="btn btn-primary" ng-click="checkout()">결제하기</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section> <!--/#cart_items-->
