<div ng-init="initList()"></div>
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="step-one">
				<h2 class="heading">Step1</h2>
			</div>

			<!-- cart -->
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="ckbox">
								<input type="checkbox"  ng-model="checkedAll" ng-change="checkAll(checkedAll)" id="all_check" name="all_check"/>
							</td> <!-- all_check-->
							<td class="image">상품</td>
							<td class="description"></td>
							<td class="price">가격</td>
							<td class="quantity">수량</td>
							<td class="total">총가격</td>
							<td></td>
						</tr>
					</thead>
					<tbody ng-repeat="cart in cartList">
						<tr>
							<td class="ckbox">
								<input type="checkbox" id="ck1" name="ck1" ng-change="checkItem(cart.id, cart.selected)" ng-model="cart.selected"  />
							</td>
							<td class="cart_product">
								<a href="/main#/cart/{{cart.id}}"><img src="{{cart.img}}" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{cart.name}}</a></h4>
								<p>Web ID: {{cart.code}}</p>
							</td>
							<td class="cart_price">
								<p>{{cart.price}}원</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" ng-click="cart.quantity=cart.quantity+1"> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="{{cart.quantity}}" autocomplete="off" size="2">
									<a class="cart_quantity_down" ng-click="cart.quantity=cart.quantity-1"> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{cart.price * cart.quantity}}원</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>선택하신 물품을 주문하시겠습니까?</h3>
				<!--<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>-->
			</div>
			<div class="row">

				<div class="col-sm-12">
					<div class="total_area" >
						<ul style="width: 50%">
							<li>Cart Sub Total <span>$59</span></li>
							<li>Point <span>$2</span></li>
							<li>Shipping Cost <span>Free</span></li>
							<li>Total <span>$61</span></li>
						</ul>
							<a class="btn btn-default update" ng-click="checkoutSelect()">Check Out</a>
							<!--<a class="btn btn-default check_out" href="/main#/checkout">Check Out</a>-->
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->




	<!--original scripts-->
	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/jquery.scrollUp.min.js"></script>
	<script src="/assets/js/price-range.js"></script>
	<script src="/assets/js/jquery.prettyPhoto.js"></script>
	<script src="/assets/js/main.js"></script>



