<section id="form"><!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form"><!--login form-->
					<h2>비밀번호분실</h2>
					<form id="find-form">
						아이디: <input type="text" placeholder="아이디" name="mb_id" /><br>
						이&nbsp&nbsp&nbsp름: <input type="text" placeholder="이름" name="mb_name" /><br>
						번&nbsp&nbsp&nbsp호: <input type="text" placeholder="핸드폰번호" name="mb_phone" /><br><br>
						<button onclick="findpw()">비밀번호 변경하기</button>
					</form>
				</div><!--/login form-->
			</div>
		</div>
	</div>
</section><!--/form-->

<script src="/assets/js/jquery.js"></script>
<script type="text/javascript">
	function findpw() {
		var form = document.getElementById("find-form");
		var id = form.elements[0].value;
		var name = form.elements[1].value
		var phone = form.elements[2].value;
		$.ajax({
			type: "POST",
			url: "/member/findpw",
			data: {
				mb_name: name,
				mb_id: id,
				mb_phone: phone
			},
			success: function(data) {
				if(data){
					alert("성공!");
					var pw = prompt("변경할 비밀번호를 입력해주세요.", "");
					$.ajax({
						type: "POST",
						url: "/member/changepw",
						data: {
							mb_name: name,
							mb_id: id,
							mb_phone: phone,
							mb_pw: pw
						},
						success: function(data) {
							alert("변경되었습니다.");
							window.close();
						}
					});
				}
				else{
					alert("일치하는 회원정보가 없습니다.");
				}
			}
		});
	}
</script>