<footer id="footer">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="single-widget">
                        <img src="/assets/images/mefind.png"/>
                        <h2>Business Hour</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li>월-금 pm 12:00 ~ pm 6:00</li>
                            <li>토, 일, 공휴일 휴무</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Company</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li>본사:수원시 성균관대학교 자연과학캠퍼스 제1공대 첨단강의실</li>
                            <li>MeFind 교환, 반품팀 </li>
                            <li>TEL. 1644. 1069</li>
                            <li>대안 통운 TEL. 1588. 1244</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Account</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li>국민 411802-07-279402</li>
                            <li>우리 1002-946-376165</li>
                            <li>신한 100-024-793722</li>
                            <li>농협 351-8935-0012-39</li>
                            <li>예금주:(주)MeFind</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Company Info</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li>회사이름:(주)MeFind &nbsp&nbsp Tel 010-5543-0203 </li>
                            <li>제휴/협력 문의:mefind@skku.ac.kr</li>
                            <li>본사 주소:경기도 수원시 장안구 2066 성균관대학교 자연과학캠퍼스 21502</li>
                            <li>대표:김서진,심일송,정경훈,조근혜</li>
                        </ul>
                    </div>
                </div>
            </div>

           <!-- <div class="row">
                <div class="col-sm-12">
                    <h2>Company Info</h2>
                    <p>회사이름:(주)MeFind &nbsp&nbsp회사 Tel 010-5543-0203 &nbsp&nbsp이메일:mefind@gmail.com &nbsp&nbsp<br>
                        제휴/협력 문의:mefind@skku.ac.kr<br>
                        본사 주소:경기도 수원시 장안구 2066 성균관대학교 자연과학캠퍼스 21502 <br>
                        대표:김서진,심일송,정경훈,조근혜
                    </p>
                </div>
            </div>-->
        </div>
    </div>

   <!-- <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2016 MeFind Inc. All rights reserved.</p>
                <p class="pull-right">Designed by <span><a target="_blank" href="https://github.com/ilsong/sosil_final">MeFind</a></span></p>
            </div>
        </div>
    </div>-->
</footer><!--/Footer-->
