<!--<div ng-init="initHeader()"></div>-->
<header id="header" ng-controller="loginCtrl"><!--header-->
    <div class="header-middle" ng-init="initSession()"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="/main#/"><img src="/assets/images/home/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <table align="right">
                        <tr>
                            <td>
                                <div class="shop-menu pull-right">
                                    <ul class="nav navbar-nav">
                                        <li><a href="/main#/member/info"><i class="fa fa-user"></i> Account</a></li>
                                        <li><a href="/main#/cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                                        <li ng-if="!$root.session"><a href="/main#/login"><i class="fa fa-lock"></i> Login</a></li>
                                        <li ng-if="$root.session"><a href="" ng-click="logout()"><i class="fa fa-unlock"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right">
                                <p ng-if="$root.session">{{$root.session.mb_name}}님 현재 포인트는 {{$root.session.mb_point}}pt입니다.</p>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="index.html" class="active">Home</a></li>

                            <li class="dropdown"><a href="/main#/item/4">OUTER</a></li>
                            <li class="dropdown"><a href="/main#/item/1">TOP</a></li>
                            <li class="dropdown"><a href="/main#/item/2">DRESS</a></li>
                            <li class="dropdown"><a href="/main#/item/3">BOTTOM</a></li>
                            <li class="dropdown"><a href="/main#/item/5">SHOES&BAG
                                <!--<i class="fa fa-angle-down"></i>-->
                            </a>
                             <!--   <ul role="menu" class="sub-menu">
                                    <li><a href="shop.html">SHOES</a></li>
                                    <li><a href="/main#/cart">BAG</a></li>
                                </ul>-->
                            </li>
                            <li class="dropdown"><a href="/main#/item/6">ACCESSORY</a></li>

                            <!--admin계정으로 로그인 시에만 보이게 한다-->
                            <li class="dropdown" ng-if="$root.session.admin"><a href="/main#/item/register">ADMIN<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="/main#/item/register">Add Items</a></li>
                                    <li><a href="blog-single.html">ADMIN MENU2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->

<script src="/javascripts/controllers/LoginCtrl.js"></script>