
<title>관리자 정보 페이지</title>
<style>
    #preview{
        width:300px;
        height: 400px;
    }
</style>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview')
                        .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

<section>
    <div class="container">
        <form method="post" action="/item/register" enctype="multipart/form-data">
            <p>카테고리:
                <select size="1" name="category" style="display: inline;width: 200px">
                    <option value="Top&Blouse" selected="selected">Top&Blouse</option>
                    <option value="Dress">Dress</option>
                    <option value="Bottom">Bottom</option>
                    <option value="Outer">Outer</option>
                    <option value="Shoes&Bag">Shoes&Bag</option>
                </select>
            </p>
            <p>이름:
                <input type="text" name="name">
            </p>
            <p>사진:
                <input type="file" onchange="readURL(this);" name="img" ><br>
                <img src="#" id="preview">
            </p>
            <p>가격:<input type="number"  name="price">
            </p>
            <input type="submit" value="Upload">
        </form>
    </div>
</section>