<!--<div ng-init="initItem()"></div>-->



    <div class="container" ng-init="initItem()">
        <!--<div ng-include="'/views/items/new-items.html'"></div>-->
        <!--<div ng-include="'/views/items/best-items.html'"></div>-->

        <h2 class="title text-center">{{category}}</h2>
        <div ng-repeat="item in itemList">
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="{{item.img}}" alt="" />
                            <h2>{{item.price}}원</h2>
                            <p>{{item.name}}</p>
                            <a ng-click="addCart(item)" ng-if="item.amount>0" class="btn btn-default add-to-cart">
                                <i class="fa fa-shopping-cart"></i>
                                Add to cart
                            </a>

                            <a ng-click="addCart(item)" ng-if="item.amount<1" class="btn btn-default add-to-cart">
                                Sold Out
                            </a>
                        </div>
                        <div class="product-overlay">
                            <div class="overlay-content">
                                <h2>{{item.price}}원</h2>
                                <p>{{item.name}}</p>
                                <a ng-click="addCart(item)" ng-if="item.amount>0" class="btn btn-default add-to-cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    Add to cart
                                </a>

                                <a ng-click="addCart(item)" ng-if="item.amount<1" class="btn btn-default add-to-cart">
                                    Sold Out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




