<div class="left-sidebar">
    <h2>Category</h2>


    <!--brands_products-->
    <div class="brands_products">
        <!--<h2>Brands</h2>-->
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#">BEST 50</a></li>
                <li><a href="#">NEW 5%DC</a></li>
                <li><a href="#">당일배송</a></li>
                <!--  <li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
                  <li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
                  <li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
                  <li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li>-->
            </ul>
        </div>
    </div>
    <!--/brands_products-->
    <br>

    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <!--<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">-->
                    <a data-toggle="collapse" data-parent="#accordian" href="/main#/items/1">
                        <!--<span class="badge pull-right"><i class="fa fa-plus"></i></span>-->
                        OUTER
                    </a>
                </h4>
            </div>
            <div id="sportswear" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">ALL </a></li>
                        <li><a href="#">CARDIGAN </a></li>
                        <li><a href="#">JACKET </a></li>
                        <li><a href="#">COAT </a></li>
                        <li><a href="#">JUMPER </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        TOP
                    </a>
                </h4>
            </div>
            <div id="mens" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">ALL </a></li>
                        <li><a href="#">T-SHIRT</a></li>
                        <li><a href="#">KNIT</a></li>
                        <li><a href="#">BLOUSE</a></li>
                    </ul>
                </div>
            </div>
        </div>

<!--        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#womens">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        BLOUSE
                    </a>
                </h4>
            </div>
            <div id="womens" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">Fendi</a></li>
                        <li><a href="#">Guess</a></li>
                        <li><a href="#">Valentino</a></li>
                        <li><a href="#">Dior</a></li>
                        <li><a href="#">Versace</a></li>
                    </ul>
                </div>
            </div>
        </div>-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">DRESS</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">BOTTOM</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">SHOES&BAG</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">ACCESSORY</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#" style="color: orangered">SALE</a></h4>
            </div>
        </div>

       <!-- <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Bags</a></h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a href="#">Shoes</a></h4>
            </div>
        </div>-->

    </div>
    <!--/category-products-->




</div> <!--left-sidebar -->