
	
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>로그인</h2>
						<form id="login-form">
							<input type="text" placeholder="ID" name="mb_id" />
							<input type="password" placeholder="Password" name="mb_pw" />

							<button class="btn btn-default" onclick="login()">로그인</button>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>회원가입</h2>
						<form action="/member/register" method="post" id="signup-form">
							<input type="text" name="mb_name" placeholder="Name"/>
							<input type="text" name="mb_id" placeholder="ID"/>
							<input type="password" name="mb_pw" placeholder="Password"/>
							<input type="tel" placeholder="010-xxxx-xxxx"/>
							<br>
							<input type="checkbox"/>약관동의</input><button type="submit" class="btn btn-default">가입</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
	
	<script src="/assets/js/jquery.js"></script>
	<script type="text/javascript">
		function login() {
			$("#login-form").submit(function(event) {
				$.ajax({
					type: "POST",
					url: "/member/login",
					data: $(this).serialize(),
					success: function(data) {
						if(data.result)
							location.href='/';
						else
							alert('아이디 혹은 비밀번호를 확인해주세요');
					}
				})
				event.preventDefault();
			})
		}
	</script>